*{
    font-family: 'DM Sans', sans-serif;
}


.sch-signin{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sch-signin-header{
    height: 10%;
    width: 85%;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.sch-signin-header>button{
    border: none;
    background: none;
}

.sch-signin-header-nav{
    width: 85%;
    height: 100%;
    display: flex;
    /* background-color: green; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 120px;
    gap: 30px;
    
}
.sch-signin-header-nav>button{
    background: none;
    border: none;
    padding-block:5px;
    margin: 0;
    padding-inline: 0px;
    color: #4A505C;
    /* background-color: red; */
}

.sch-signin-header-nav>button{
    font-size: 14px;
    font-weight: 400;
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom 0.1s ease-in-out;
}
.sch-signin-header-nav>button:hover,
.sch-signin-header-nav>button.active{
    border-bottom: 3px solid #2F6FED;
    color: #2F6FED !important;
    cursor: pointer;
}


.sch-signin-mheader>button{
    border: none;
    background: none;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.sch-signin-mheader>button>img{
    width: 100%;
}
.sch-signin-mheader-nav{
    width: 90%;
    height: 100%;
    display: flex;
    /* background-color: green; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    
}
.sch-signin-mheader-nav>button{
    background: none;
    border: none;
    padding-block:5px;
    margin: 0;
    padding-inline: 0px;
    color: #4A505C;
    /* background-color: red; */
}

.sch-signin-mheader-nav>button{
    font-size: 14px;
    font-weight: 400;
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom 0.1s ease-in-out;
}
.sch-signin-mheader-nav>button:hover,
.sch-signin-mheader-nav>button.active{
    border-bottom: 3px solid #2F6FED;
    color: #2F6FED !important;
    cursor: pointer;
}

.sch-signin-mheader{
    display: none;
}

.sch-signin-body{
    height: 85%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sch-signin-body-left{
    width: 40%;
    height: 100%;
    padding-left: 20px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sch-signin-logo{
    width: 100%;
    height: 5%;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sch-signin-logo>button{
    background: none;
    border: none;
}
.sch-signin-logo>button>img{
    cursor: pointer;

}


.sch-signin-left-down{
    width: 100%;
    height: 70%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.sch-signin-left-down>h1{
   color: #1D2433;
   font-size: 40px;
}
.sch-signin-left-down h4{
   color: #1D2433;
   font-size: 14px;
}
.sch-signin-left-down p{
   color: #4A505C;
   font-size: 12px;
}

.sch-signin-left-hold{
    width: 100%;
    height: 80%;
    /* background-color: brown; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.sch-signin-left-hold-body{
    width: 70%;
    height: 30%;
    /* background-color: pink; */
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.sch-signin-left-img{
    width: 100%;
    height: 40%;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.sch-signin-left-img>img{
    width: 4%;
}

.sch-signin-body-right{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
       
.sch-signin-card{
    height: 102%;
    width: 62%;
    border: 1px solid #E1E6EF;
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    z-index: 999;
}

.sch-signin-card-up{
    width: 80%;
    height: 10%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 2px;
    /* margin-bottom: 5px; */
}

.sch-signin-card-up>h5{
    color: #1D2433;
    font-size: 22px;
}

.sch-signin-card-up>p{
    color: #4A505C;
    font-size: 10px;
    text-align: center;
}

.sch-signin-card-body{
    width: 100%;
    height: 54%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.sch-signin-card-hold{
    width: 100%;
    height: 88% ;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 10px;
}

.sch-signin-remember{
    width: 88%;
    height: 25%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 6px;
    margin-bottom: -50px;
}

.sch-signin-remember-left{
    width: 100%;
    height: 20%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 11px;
    color: #4A505C;
    gap: 5px;
}
.sch-signin-remember-left>input{
    width: 12px;
}

.sch-signin-remember-right{
    width: 100%;
    height: 20%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 11px;
    font-weight: 400;
    color: #2F6FED;
}

.sch-signin-input-hold{
    width: 88%;
    height: 34%;
    /* background-color: pink; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.sch-signin-input-hold>input,
.passwordHolder,
.sch-signin-input-hold>select{
    width: 100%;
    height: 50%;
    background: none;
    border: 1px solid #E1E6EF;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 10px;
    color: #4A505C;
    font-weight: 100;
}
.passwordHolder>input{
    border: none;
    width: 90%;
    background: none;
    height: 100%;
    font-size: 10px;
    color: #4A505C;
}

.passwordHolder>button{
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    padding: 0;
    position: relative;
    padding-bottom: -40px;
    width: 10%;
    height: 70%;
}
.passwordHolder{
    display: flex;
    align-items: space-between;
}


.sch-signin-input-hold>select:focus,
.sch-signin-input-hold>input:focus,
 .passwordHolder>input:focus{
        outline: none;
        background: none;
}

.sch-signin-input-hold>input::placeholder{
    font-size: 10px;
    color: #4A505C;
    font-weight: 100;
}


.sch-signin-input-hold>select{
    font-size: 10px;
    color: #4A505C;
    font-weight: 100;
    padding-left: 10px;
}

.sch-signin-input-hold>label{
    color:#1D2433;
    font-size: 12px;
}



/* 

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-input-container input {
    flex: 1;
    padding-right: 40px;
  }
  
  .peek-eye {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .sch-signin-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .remember-me input {
    cursor: pointer;
  }
  
  .forgot-password {
    color: #007BFF;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
  }
  
  .forgot-password:hover {
    text-decoration: none;
  }
   */

.sch-signin-card-btn{
    width: 100%;
    height:24% ;
    /* background-color: orange; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}

.sch-signin-card-btn>button{
    width: 88%;
    padding-block: 12px;
    background-color: #1D5BD6;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    font-weight: 100;
    transition: background-color 0.3s ease-in-out;
}

.sch-signin-card-btn>button:hover{
    background-color: #0F25A3;
    cursor: pointer;
}

.sch-signin-card-lower{
    height: 27%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
}

.linediv{
    width: 88%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.linediv> p{
    font-size: 12px;
    color: #E1E6EF;
    
}
.line{
    width: 45%;
    height: 10%;
    background-color: #E1E6EF;
}

.google-auth-btn{
    width: 88%;
    height:30% ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.google-auth-btn>button{
    width: 100%;
    padding-block: 11px;
    background-color: #FDFBFF;
    border: 1px solid #E1E6EF;
    border-radius: 5px;
    color: #4A505C;
    font-size: 11px;
    font-weight: 100;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
}
.google-auth-btn>button>img{
    width: 5%;
}

.google-auth-btn>button:hover{
    background-color: #E1E6EF;
    cursor: pointer;
}

.sch-signin-card-sub>p{
    font-size: 12px;
    color: #4A505C;
}
.sch-signin-card-sub>p>span{
    font-size: 12px;
    color: #2F6FED;
}
.sch-signin-card-sub>p>span:hover{
    color: #0F25A3;
    cursor: pointer;
}


/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* High z-index to appear above other elements */
}

/* Modal content */
.modal-content {
    background: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    padding-block: 40px;
}

.modal-content h3 {
    margin-top: 0;
    font-size: 24px;
    color: #1D2433;
}
.modal-content p {
    margin-top: 0;
    font-size: 12px;
    color: #4A505C;
}
.modal-content img {
    width: 30%;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1D5BD6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sch-signin-logo-mobile{
    display: none;
}


.sch-signin-footer{
    height: 15%;
    width: 100%;
    /* background-color: #F0F5FF; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.sch-signin-footer-inner{
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #1D5BD6; */
    
}

svg{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.svg1{
    width: 100%;
    position: absolute;
    /* bottom: 100; */
    padding-bottom: 30px;
}


/* Base styles for mobile devices */
@media (max-width: 768px) {

    .sch-signin-body{
        flex-direction: column;
    }
    .sch-signin {
      flex-direction: column;
      /* padding: 20px; */
    }

    .sch-signin-header{
        display: none;
    }

    .sch-signin-mheader{
        height: 10%;
        width: 90%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }


    .sch-signin-logo-mobile{
        display: flex;
        width: 100%;
        height: 10%; 
        padding: 20px;
        /* background-color: red;  */
    }
    .sch-signin-logo-mobile button{
        border: none;
        background: none;
    }


  
    /* Hide the left side content */
    .sch-signin-body-left {
      display: none;
    }
  
    /* Adjust the right side to take up full width */
    .sch-signin-body-right {
      width: 100%;
      padding: 0 20px;
      
    }
  
    /* Center logo and card */
    .sch-signin-logo {
      justify-content: center;
      padding: 20px 0;
    }
  
    .sch-signin-card {
      width: 90%;
      top: 10px;
      /* background-color: red; */
      height: 100%;
      border: none;
      padding-block: 0;
      margin: 0;
      padding-inline: 20px;
      /* background-color: red; */
      justify-content: space-between;
      align-items: flex-start;
    }

    .sch-signin-card-up{
        align-items: flex-start;
      justify-content: flex-start;
      margin-block: 10px;
      padding: 0;
      text-align: left;
      /* background-color: green; */
      margin-bottom: 0;
      height: 10%;
      width: 95%;
    }
    
 

    .sch-signin-card-up h5{
        font-size: 24px;
    }
    .sch-signin-card-up p{
        font-size: 12px;
        text-align: left;
    }

    .sch-signin-card-body{
        height: 100%;
        height: auto;
        margin-top: 0;
        padding-top: 0;
        /* background-color: red; */
        gap: 20px;
    }
    .sch-signin-input-hold{
        width: 100%;
        flex-direction: column;
        height: 80%;
        gap: 5px;
        /* background-color: pink; */
    }
    .sch-signin-input-hold>label{
        font-size: 14px;
    }

    .sch-signin-input-hold>input{
        font-size: 12px;
    }
    .sch-signin-input-hold>input::placeholder{
        font-size: 12px;
    }
    .passwordHolder{
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .passwordHolder>input{
        width: 90%;
        padding-block: 13px;
        /* background: red; */
        font-size: 12px;
    }
    .passwordHolder>button{
        width: 10%;
        /* background: red; */
    }


    .sch-signin-input-hold>input,
    .sch-signin-input-hold>select{
        width: 100%;
        padding-block: 20px;
        font-size: 12px;
    }

    .sch-signin-card-hold{
        width: 100%;
        height: 90%;
        gap: 5px;
        margin-top: 10px;
        /* background-color: powderblue; */
    }

    .sch-signin-remember{
        display: flex;
        width: 100%;
        height: 25%;
        /* background-color: red; */
        position: relative;
        padding-block: 5px;
        margin-bottom: 3px;
        gap: 10px;
    }

    .sch-signin-card-btn{
        /* background-color: blue; */
        margin-top: -15px;
        padding: 0;
        height: auto;
    }
    .linediv,
    .google-auth-btn{
        width: 100%;
    }

    .sch-signin-card-lower{
        gap: 16px;
    }
    
    .sch-signin-card-btn>button,
    .google-auth-btn>button{
        padding-block: 13px;
        width: 100%;
        font-size: 14px;
        font-weight: 300;
    }
    .peek-eye{
        padding-bottom: 30px;
        height: 70%;
    }
    .passwordHolder .peek-eye svg {
        display: block;
        color: #666;
      }    
  
    /* Adjust footer and SVGs for mobile view */
    .sch-signin-footer {
      height: 20%;
      background: url("/public/foot.png");
      object-fit: contain;
      background-repeat: no-repeat;
      width: 100%;
    }
  
    .sch-signin-footer-inner {
      height: auto;
    }

    .svg1, svg{
        display: none;
        /* height: 100%; */
    }
  
  }
  
  /* Smaller mobile devices (e.g., 480px width) */
  @media (max-width: 480px) {
    .sch-signin-card {
      width: 100%;
    }
    
    .modal-content {
      width: 90%;
      padding-block: 20px;
    }
  
    .modal-content h3 {
      font-size: 20px;
    }
  
    .modal-content p {
      font-size: 10px;
    }
  }
  